.GameCard:hover{
  cursor:pointer;
  border: 5px solid #4cc9f0;
}

.GameCard{
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid transparent;

}

.GameCard-shape {
  width: 100%;
}